section.about {
	padding: 100px;
	color: $blue;
	min-height: calc(100vh - 582px);

	h2 {
		font-size: 36px;
		margin-bottom: 20px;
	}

	p {
		font-size: 20px;
		line-height: 1.5;
		margin-bottom: 30px;
	}
}
