$font-family: 'Roboto', sans-serif;
$font-size-base: 0.925rem;

$white: #f7f7fc;
$blue: #0d3d67;
$light-blue: #4d71a6;
$extra-light-blue: #8eb8d1;

$logo-blue: #0d6efd;
$logo-red: #dc3545;

$base-color: #66f;
$text-dark: #3c4250;
$text-dark-hover: #2c2f3a;
$text-light: #a0a5b1;
$text-error: $logo-red;
$text-confirm: #35dcc6;
$text-info: $logo-blue;

$border-color: #eceef3;

$primary-button-blue: #007bff;
$primary-button-blue-hover: #0069d9;

$cancel-button-red: $text-error;
$cancel-button-red-hover: #c82333;
