@media screen and (max-width: 776px) and (orientation: portrait) {
	section {
		&.hero {
			padding: 50px 0;

			.container {
				.title {
					font-size: 2.5rem;
					margin-bottom: 10px;
				}

				.subtitle {
					font-size: 1.5rem;
					margin-bottom: 20px;
				}

				.description {
					font-size: 1.25rem;
					margin-bottom: 20px;
				}

				.button {
					@include a-button;
				}

				.disclaimer {
					margin-top: 1rem;
					font-size: 0.75rem;
				}
			}

			.arrow {
				position: absolute;
				top: 0;
			}
		}
	}
}
