{% extends "base.html.twig" %}

{% block title %}
	Edit {{ trick.name }}
{% endblock %}

{% block body %}
<section id="edit_trick">
	<h2 class="title">Edition Mode for {{ trick.name }}</h2>
	
</section>
{% endblock %}