@import './comment_responsive.scss';

section {

	.trick__comments {
		width: 100%;
		margin: 0;

		.trick__comments__title {
			font-size: 1.5rem;
			font-weight: 700;
			margin-top: 2rem;
			margin-bottom: 1rem;
		}

		.trick__comments__comment {
			.trick__comments__comment__header {
				display: flex;
				flex-direction: row;

				.trick__comments__comment__header__profile__picture {
					width: 40px;
					height: 40px;
					border-radius: 100%;
					margin-right: 0.5rem;
				}

				.trick__comments__comment__header__informations {
					.trick__comments__comment__header__author {
						font-size: 1rem;
						font-weight: 700;
						margin-bottom: 0.25rem;
					}

					.trick__comments__comment__header__date {
						font-size: 0.8rem;
						font-weight: 400;
						margin-bottom: 0.5rem;
					}

					.fas.fa-trash-alt {
						color: $text-error;
					}
				}
			}

			.trick__comments__comment__content {
				font-size: 1rem;
				font-weight: 400;
				margin-bottom: 1rem;
			}
		}

		.trick__comments__form {
			margin: 2rem 0;

			.form {
				padding: 25px;
			}
		}
	}
}
