<div id="delete_trick_modal">
	<div class="modal__content">
		<div class="modal__header">
			<h2 class="modal__title">Delete trick</h2>
			<button id="close_modal_button" class="modal__close">
				<span>x</span>
			</button>
		</div>
		<div class="modal__body">
			<p class="modal__text">Are you sure you want to delete this trick?</p>
			<div class="modal__footer">
				<a id="delete_button" class="btn btn-primary">Delete</a>
				<a id="cancel_delete_button" class="btn btn-cancel">Cancel</button>
			</div>
		</div>
	</div>
</div>