@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$navbar-body-color: #fff;
// $navbar-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.035);
$navbar-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
$navbar-padding-y: 1rem;
$navbar-padding-x: 1.15rem;

$navbar-link-hover: $base-color;
$navbar-link-padding-y: 0.5rem;
$navbar-link-padding-x: 1rem;

$navbar-dropdown-padding-y: 0.5rem;
$navbar-dropdown-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
$navbar-dropdown-radius: 0.75rem;

$navbar-dropdown-item-padding-y: 0.25rem;
$navbar-dropdown-item-padding-x: 1rem;

$navbar-dropdown-separator-margin-y: 9px;
$navbar-dropdown-separator-color: $border-color;

a {
	text-decoration: none;
}

.container {
	max-width: 1440px;
	position: relative;
	margin: {
		left: 2rem;
		right: 2rem;
	}
	padding: {
		left: 15px;
		right: 15px;
	}
}

// Start navbar

.navbar,
.navbar > .container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	@media (max-width: 768px) {
		display: block;
	}
}

.navbar {
	box-shadow: $navbar-shadow;
	background-color: $navbar-body-color;
	padding: $navbar-padding-y $navbar-padding-x;
	border-bottom: 1px solid $border-color;

	.container {
		@media (min-width: 576px) {
			max-width: 540px;
		}
		@media (min-width: 768px) {
			max-width: 720px;
		}
		@media (min-width: 992px) {
			max-width: 960px;
		}
		@media (min-width: 1200px) {
			max-width: 1440px;
		}
	}

	/*
  |-----------------------------------
  | Start navbar logo or brand etc..
  |-----------------------------------
  */
	.navbar-header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (max-width: 768px) {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-direction: row-reverse;
		}

		.navbar-toggler {
			border-radius: 5px;
			background-color: transparent;
			cursor: pointer;
			border: none;
			display: none;
			outline: none;

			@media (max-width: 768px) {
				display: block;
			}

			span {
				height: 2px;
				width: 22px;
				background-color: lighten($text-dark, 35%);
				display: block;
			}
			span:not(:last-child) {
				margin-bottom: 0.2rem;
			}
		}

		> a {
			font-weight: 500;
			color: $text-dark;
		}
	}

	/*
  |-----------------------------------
  | Start navbar menu
  |-----------------------------------
  */
	.navbar-menu {
		display: flex;
		align-items: center;
		flex-basis: auto;
		flex-grow: 1;

		@media (max-width: 768px) {
			display: none;
			text-align: center;
		}

		&.active {
			display: flex !important;
		}

		// Ul
		.navbar-nav {
			margin-left: auto;
			flex-direction: row;
			gap: 0.5rem;
			display: flex;
			padding-left: 0;
			margin-bottom: 0;
			list-style: none;
			.dropdown {
				position: relative;
				&:hover {
					.dropdown-menu {
						display: block;
					}
				}
				.dropdown-menu {
					position: absolute;
					top: 70%;
					left: 2rem;
					z-index: 1000;
					display: none;
					min-width: 6rem;
					padding: $navbar-dropdown-padding-y 0;
					margin: $navbar-dropdown-separator-margin-y 0 0;
					font-size: 1rem;
					color: $text-dark;
					text-align: left;
					list-style: none;
					background-color: $white;
					background-clip: padding-box;
					border: 1px solid $navbar-dropdown-separator-color;
					border-radius: $navbar-dropdown-radius;
					box-shadow: $navbar-dropdown-shadow;
					li {
						display: block;
						&:not(:last-child) {
							border-bottom: 1px solid $navbar-dropdown-separator-color;
						}
						&.active {
							> a {
								color: $blue;
							}
						}
						> a {
							display: block;
							padding: $navbar-dropdown-item-padding-y $navbar-dropdown-item-padding-x;
							clear: both;
							font-weight: 400;
							color: $text-dark;
							text-align: inherit;
							white-space: nowrap;
							background-color: transparent;
							border: 0;
							&:hover {
								background-color: $blue;
								color: $white;
							}
						}
					}
				}
			}

			@media (max-width: 768px) {
				width: 100%;
				display: block;
				border-top: 1px solid #eee;
				margin-top: 1rem;
			}

			> li {
				&.signup {
					a {
						border-radius: 0.25rem;
						background-color: $light-blue;
						color: $white;
						&:hover {
							background-color: $extra-light-blue;
							color: $blue;
						}
					}
				}
				> a {
					color: $text-dark;
					text-decoration: none;
					display: inline-block;
					border-radius: 0.25rem;
					padding: $navbar-link-padding-y $navbar-link-padding-x;
					transition: all 0.25s ease-in-out;
					&:hover {
						background-color: $blue;
						color: $white;
					}
					@media (max-width: 768px) {
						border-bottom: 1px solid $border-color;
					}
				}
				&.active {
					> a.signup {
						border-radius: 0.25rem;
					}
					> a {
						color: $blue;
						// We reduce the length of the border to make it look like a line
						border-bottom: 2px solid $blue;
						border-radius: 0;
						&:hover {
							color: $white;
							border-radius: 0.25rem;
						}
					}
				}
			}

			.navbar-dropdown {
				.dropdown {
					list-style: none;
					position: absolute;
					top: 150%;
					left: 0;
					background-color: #fff;
					padding-top: $navbar-dropdown-padding-y;
					padding-bottom: $navbar-dropdown-padding-y;
					min-width: 160px;
					width: auto;
					white-space: nowrap;
					box-shadow: $navbar-dropdown-shadow;
					z-index: 99999;
					border-radius: $navbar-dropdown-radius;
					display: none;
					@media (max-width: 768px) {
						position: relative;
						box-shadow: none;
					}
					li {
						a {
							color: $text-dark;
							padding: $navbar-dropdown-item-padding-y $navbar-dropdown-item-padding-x;
							display: block;
						}
					}
					&.show {
						display: block !important;
					}
				}
			}

			.dropdown > .separator {
				height: 1px;
				width: 100%;
				margin: {
					top: $navbar-dropdown-separator-margin-y;
					bottom: $navbar-dropdown-separator-margin-y;
				}
				background-color: $navbar-dropdown-separator-color;
			}
		}
	}

	.navbar-dropdown {
		position: relative;
	}
}

// Custom
.navbar .navbar-header > a span {
	color: $base-color;
}

.navbar .navbar-header svg {
	width: 150px;
	height: 150px;
	@media (max-width: 768px) {
		width: 100px;
		height: 100px;
	}
	border-radius: 100%;
}
