@import '~/assets/styles/abstracts/variables.scss';
@import '~/assets/styles/abstracts/mixins.scss';

@import '~/templates/components/header/header.scss';
@import '~/templates/components/footer/footer.scss';
@import '~/templates/components/form/form.scss';
@import '~/templates/components/carousel/carousel.scss';
@import '~/templates/components/modals/delete_trick_modal.scss';

@import '~/templates/home/home.scss';
@import '~/templates/home/display_tricks/display_tricks.scss';
@import '~/templates/trick/trick.scss';
@import '~/templates/trick/edit/add_edit_trick.scss';
@import '~/templates/trick/category/trick_category.scss';
@import '~/templates/about/about.scss';
@import '~/templates/profile/profile.scss';
@import '~/templates/signin/signin.scss';
@import '~/templates/reset_password/check_email.scss';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

body {
	font-family: $font-family;
	font-size: $font-size-base;
	margin: auto;
	max-width: 1440p;

	.alert {
		position: fixed;
		width: 100%;
		z-index: 1000;
		text-align: center;
		font-size: 1.5rem;

		&.alert-danger {
			background-color: $danger;
			color: $white;
		}

		&.alert-success {
			background-color: $success;
			color: $white;
		}
	}
}
