@import '~/assets/styles/abstracts/variables.scss';
@import '~/assets/styles/abstracts/mixins.scss';

@import '~/templates/components/header/header.scss';
@import '~/templates/components/footer/footer.scss';
@import '~/templates/components/form/form.scss';
@import '~/templates/components/carousel/carousel.scss';
@import '~/templates/components/modals/delete_trick_modal.scss';

@import '~/templates/home/home.scss';
@import '~/templates/home/display_tricks/display_tricks.scss';
@import '~/templates/trick/trick.scss';
@import '~/templates/trick/edit/edit_trick.scss';
@import '~/templates/about/about.scss';
@import '~/templates/profile/profile.scss';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

body {
	font-family: $font-family;
	font-size: $font-size-base;
	margin: auto;
}
