<h1>Hi!</h1>

<p>To verify your account, please visit the following link</p>

<a href="{{signedUrl}}">Click here to activate your account!!</a>

<p>This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</p>

<p>Cheers!</p>