{% extends "base.html.twig" %} {% block title %}SnowTricks - Signup{% endblock %} {% block body %}
<section id="signup">
	<h1>Signup</h1>
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button type="submit" class="btn btn-primary">S'inscrire</button>
	{{ form_end(form) }}
</section>
{% endblock %}
