{% extends "base.html.twig" %} {% block title %}SnowTricks - Signup{% endblock %} {% block body %}
<section id="signup">
	<h1>Signup</h1>
	{{ form_start(form) }}
	<div id="form">
		{{ form_widget(form) }}
		<button type="submit" class="btn btn-primary">Signup</button>
	</div>
	{{ form_end(form) }}
</section>
{% endblock %}
