{% extends "base.html.twig" %}
{% block title %}SnowTricks - Signin
{% endblock %}
{% block body %}
	<section id="signin">
		<h1>Signin</h1>

		<form action="{{ path('app_signin') }}" method="post">
			<div id="form">
				<div>
					<label for="username">Username</label>
					<input type="text" placeholder="username" id="username" name="_username" value="{{ last_username }}" required class="form-control">
				</div>
				<div>
					<label for="password">Password</label>
					<input type="password" placeholder="password" id="password" name="_password" required class="form-control">
				</div>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			</div>
			<button type="submit" class="btn btn-primary">Login</button>
			<a href="{{ path('app_forgot_password_request')}}" class="btn btn-reset">Reset your password</a>

		</form>

	</section>
{% endblock %}
