@media screen and (max-width: 776px) and (orientation: portrait) {
	body {

		.carousel__container {
			.display {
				width: 100%;
				max-height: 400px;

				img,
				iframe {
					// We remove the HTML attributes that are not needed on mobile
					// to make the image responsive
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
		}
	}
}
