.carousel__container {
	max-width: 720px;
	height: fit-content;
	margin: auto;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	.display {
		width: 100%;
		padding: 0.5rem;
		max-height: 500px;

		img {
			max-width: 100%;
			height: 100%;
			border-radius: 5px;

			border-radius: 5px;
			width: 100%;
			object-fit: contain;
			max-height: 100%;
			animation-name: example;
			animation-duration: 1s;
			overflow: hidden;
		}
	}
	.img-select-container {
		width: 100%;
		padding: 1rem;

		display: flex;
		justify-content: center;
		overflow: hidden;
		.img-container {
			width: 100%;

			transition: 0.3s ease;
			//transform:translatex(calc(( -1 * (80px + 1.6rem))));

			padding: 0.5rem;
			display: flex;

			gap: 25px;
			.img {
				width: 80px;
				flex-shrink: 0;
				height: 80px;
				overflow: hidden;
				border-radius: 5px;
				transition: 0.2s ease;
				&:hover {
					box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
					transform: translateY(-5px);
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
}
.buttons {
	display: flex;

	width: 40%;
	justify-content: center;
	padding: 0.5rem;
	gap: 15%;
	button {
		width: 48px;
		height: 48px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #021012;
		border-radius: 100%;
		border: none;
		background: transparent;
	}
}

@keyframes example {
	from {
		opacity: 0;
	}
	to {
		opacity: 100%;
	}
}
