@import './trick_responsive.scss';

section#trick_details {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	min-height: 100vh;
	margin: 0 1rem;

	.title__container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
		gap: 3rem;
		width: 100%;

		span {
			max-width: auto;
			height: 100%;
		}

		.title {
			margin-top: 2rem;
			font-size: 1.5rem;
			font-weight: 700;
			margin-bottom: 1rem;
			width: auto;
			height: 100%;
			text-align: center;
		}

		.trick__commands {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			gap: 1rem;
			width: auto;
			height: 100%;

			.button {
				cursor: pointer;
				display: inline-block;
				padding: 5px;
				margin: 1rem 0 0 0;
				background-color: $white;
				border-radius: 4px;
				color: $blue;
				font-size: 0.75rem;
				text-decoration: none;
				box-shadow: 0 0 10px rgba(13, 61, 103, 0.2);
				transition: all 0.3s ease-in-out;

				&.edit {
					&:hover {
						background-color: $extra-light-blue;
					}
				}

				&.delete {
					&:hover {
						background-color: $text-error;
					}
				}

				&:hover {
					background-color: $extra-light-blue;
					box-shadow: 0 0 10px rgba(13, 61, 103, 0.5);
				}
			}
		}
	}

	.trick__category {
		margin-top: 3rem;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
		text-align: center;

		.trick__category__tag {
			width: auto;
			font-size: 0.8rem;
			font-weight: 700;
			margin-right: 0.5rem;
			color: $white;
			background-color: $blue;
			padding: 0.5rem 0.75rem;
			border-radius: 1rem;
			transition: all 0.3s ease-in-out;

			&:hover {
				color: $blue;
				background-color: $extra-light-blue;
				// font-weight: 500;
			}
		}

		margin-bottom: 1rem;
	}

	.trick {
		width: 100%;

		.trick__slideshow {
			.slideshow {
				.slideshow__image {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}

		.trick__content {
			.trick__title {
				font-size: 1.5rem;
				font-weight: 700;
				margin-bottom: 1rem;
			}

			.trick__description {
				font-size: 1rem;
				font-weight: 400;
				margin-bottom: 1rem;
			}
		}
	}

	.buttons {
		width: 100%;
	}

	.separator,
	.trick__comments.separator {
		display: block;
		width: 100%;
		height: 1px;
		background-color: #ccc;
		margin: 2rem 0 0 0;
	}

}
