@media screen and (max-width: 776px) and (orientation: portrait) {
	body {
		overflow-x: hidden;

		section#trick_details {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			min-height: 100vh;
			margin: 0 1rem;
			padding: 0;

			.title__container {
				flex-direction: column;
				gap: 0;
				width: 100%;

				span {
					max-width: 100%;
					height: auto;
				}

				.title {
					margin-top: 1rem;
					font-size: 1.25rem;
					font-weight: 700;
					margin-bottom: 0.5rem;
					width: 100%;
					height: auto;
					text-align: center;
				}

				.trick__commands {
					flex-direction: row;
					align-items: center;
					justify-content: center;
					gap: 1rem;
					width: 100%;
					height: auto;

					.button {
						margin: 0.5rem;
						font-size: 0.75rem;
					}
				}
			}
		}
	}
}
