section#trick_details {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	min-height: 100vh;
	padding: 0;
	.title {
		margin-top: 2rem;
		font-size: 1.5rem;
		font-weight: 700;
		margin-bottom: 1rem;
		width: 100%;
		text-align: center;
	}
	.trick__category {
		width: 100%;
		text-align: center;
		.trick__category__tag {
			font-size: 0.8rem;
			font-weight: 700;
			margin-right: 0.5rem;
			color: $white;
			background-color: $blue;
			padding: 0.5rem 0.75rem;
			border-radius: 1rem;
			transition: all 0.2s ease-in-out;
			&:hover {
				color: $blue;
				background-color: $extra-light-blue;
				font-weight: 500;
			}
		}
		margin-bottom: 1rem;
	}
	.trick {
		width: 100%;
		.trick__slideshow {
			.slideshow {
				.slideshow__image {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
		.trick__content {
			.trick__title {
				font-size: 1.5rem;
				font-weight: 700;
				margin-bottom: 1rem;
			}
			.trick__description {
				font-size: 1rem;
				font-weight: 400;
				margin-bottom: 1rem;
			}
		}
	}
	.buttons {
		width: 100%;
	}
	.separator,
	.trick__comments.separator {
		display: block;
		width: 100%;
		height: 1px;
		background-color: #ccc;
		margin: 2rem 0 0 0;
	}
	.trick__comments {
		.trick__comments__title {
			font-size: 1.5rem;
			font-weight: 700;
			margin-top: 2rem;
			margin-bottom: 1rem;
		}
		.trick__comments__comment {
			.trick__comments__comment__header {
				display: flex;
				flex-direction: row;
				.trick__comments__comment__header__profile__picture {
					width: 40px;
					height: 40px;
					border-radius: 100%;
					margin-right: 0.5rem;
				}
				.trick__comments__comment__header__informations {
					.trick__comments__comment__header__author {
						font-size: 1rem;
						font-weight: 700;
						margin-bottom: 0.25rem;
					}
					.trick__comments__comment__header__date {
						font-size: 0.8rem;
						font-weight: 400;
						margin-bottom: 0.5rem;
					}
					.fas.fa-trash-alt {
						color: $text-error;
					}
				}
			}
			.trick__comments__comment__content {
				font-size: 1rem;
				font-weight: 400;
				margin-bottom: 1rem;
			}
		}
		.trick__comments__form {
			margin: 2rem 0;
			.form {
				padding: 25px;
			}
		}
	}
}
